.search{
    margin: 5rem 6rem;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}